<div class="bs-docs-section">
    <div class="page-header">

        <h1><a target="_blank" {{bind-attr href=model.Url}}>{{model.Name}}</a></h1>

        <p>{{format-date model.Date}}</p>

        {{outlet}}
    </div>
</div>